.project-overview-outer-layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
    transform: scale(0) rotate(360deg);
    transition: 0.5s;
}
.show-project-overview{
    transform: scale(1) rotate(0deg);
}
.project-overview{
    position: relative;
    max-width: 600px;
    width: 95%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    padding: 20px 10px;
    justify-content: space-between;
}
.project-overview-name{
    font-size: 35px;
}
.project-overview-description-wrapper{
    width: 100%;
    height: 25%;
    /* border: 1px solid white; */
}
.project-overview-description{
    width: 90%;
    /* border: 1px solid white; */
    height: 90%;
    overflow: scroll;
    font-size: 20px;
    padding: 10px;
    line-height: 1.2;
    margin: 5px;
}
.project-overview-description::-webkit-scrollbar{
    display: none;
}
.project-overview-desc-heading{
    padding: 10px;
}
.project-overview-users{
    width: 100%;
    height: 30%; 
}
.project-overview-users-ul{
    max-width: 230px;
    width: 90%;
    border: 1px solid white;
    padding: 0px;
    height: 100%;
    overflow: scroll;
    margin: 5px;
}
.project-overview-users-ul::-webkit-scrollbar{
    display: none;
}
.project-overview-user-li{
    padding: 10px;
    justify-content: space-between;
    border: 1px solid white;
}
.project-overview-user-image{
    width: 40px;
    height: 40px;
    background-image: url("user.png");
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 50%;
}
.project-overview-user-name{
    font-size: 25px;
    font-weight: 600;
}
.project-overview-deadline, .project-overview-from{
    width: 100%;
    padding: 10px;
    margin: 15px;
    justify-content: space-around;
}
.project-overview-button-wrapper{
    width: 100%;
    justify-content: space-around;
}
.exit-project-button, .view-tasks-overview-project-button{
    padding: 10px;
    font-size: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px 10px;
    transition: 0.5s;
}
.exit-project-button:active, .view-tasks-overview-project-button:active{
    transform: scale(0.9);
}
.view-tasks-overview-project-button{
    background-color: green;
}
