.full-profile-section{
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 500px;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 50;
}
.show-profile-section {
    transform: translateX(0%);
}
.inner-main-profile-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(52,50,56);
    border: 1px solid rgb(134,133,136);
    justify-content: space-around;
    padding: 10px;
    position: relative;
}
.profile-image-wrapper{
    height: 22%;
    justify-content: space-between;
}
.user-big-profile-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.buttons-wrapper{
    width: 100%;
    height: 60%;
}
.common-profile-button{
    justify-content: flex-start;
    width: 80%;
    font-size: 20px;
    padding: 15px 10px;
    background-color: rgb(52,50,56);
    color: white;
    border: none;
    transition: 0.3s;
    border-radius: 10px;
  }
  .common-profile-button:hover{
    background-color: rgb(29,27,33);
  }
  .common-profile-button:active, .edit-profile-improve-button:active{
    transform: scale(0.9);
  }


  /* Profile editing section styling starts here */
  .outer-edit-profile{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 51;
    padding-top: 30px;
    font-size: 25px;
    transform: translateX(100%);
    transition: 0.5s;
  }
  .show-edit-profile-section{
    transform: translateX(0%);
  }
  .mini-profile{
    width: 400px;
    height: 500px;
    color: white;
    align-self: flex-start;
    margin-right: 20px;
    background-color: rgb(52,50,56);
    justify-content: space-around;
    border-radius: 10px;
    margin-left: 10px;
  }
  .edit-profile-area{
    position: relative;
    max-width: 700px;
    width: 100%;
    height: 90%;
    color: white;
    align-self: flex-start;
    background-color: rgb(52,50,56);
    border-radius: 10px;
    padding: 20px;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 10px ;
  }
  .mini-profile-user-name, .edit-profile-head{
    font-size: 30px;
  }
  .mini-profile-user-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  .upload-user-photo, .edit-profile-improve-button{
    transition: 0.5s;
  }
  .upload-user-photo:active {
    transform: scale(0.9);
  }
  .edit-profile-body{
    padding: 10px;
    font-size: 20px;
    height: 90%;
    width: 100%;
    background-color: rgb(62,60,66);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: flex-start;
  }
  .common-label-input-wrapper{
    width: 250px;
    align-items: flex-start;
  }
  .common-edit-profile-input{
    outline: none;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    margin: 10px 0px;
    width: 100%;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  /* Profile editing section styling starts here */
  
  @media screen and (max-width: 857px){
    .edit-profile-body {
      grid-template-columns: auto;
    }
  }
  @media screen and (max-height: 850px){
    .edit-profile-area{
      height: 97%;
    }
    .outer-edit-profile{
      padding: 0px;
    }
  }
  @media screen and (max-width: 715px){
    .mini-profile{
      display: none;
    }
    .edit-profile-area{
      margin-right: 0;
      margin: 5px;
    }
    .edit-profile-body {
      grid-template-columns: auto auto;
    }
  }
  @media screen and (max-width: 550px){
    .full-profile-section{
        bottom: 10%;
    }
    .edit-profile-body {
      grid-template-columns: auto;
    }
  }